@{
    ViewData["Title"] = "Додати контакт";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="Add">
    <div class="form-group">
        <label for="userName">Ім'я користувача:</label>
        <input type="text" class="form-control" name="userName" required />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Надіслати запит</button>
    <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>